In [1]:
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)

1.3.2

## Creating a Pandas Series

In [3]:
# Creating empty series
ser = pd.Series()
  
print(ser)

Series([], dtype: float64)

C:\Users\NALINK~1\AppData\Local\Temp/ipykernel_5024/3253341659.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [4]:
# Creating a series from Scalar value
ser = pd.Series(10, index =[0, 1, 2, 3, 4, 5])
  
print(ser)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [5]:
# Creating a series from array
data = np.array(['N','i','k','h','i','l'])
 
ser = pd.Series(data)
print(ser)

0    N
1    i
2    k
3    h
4    i
5    l
dtype: object

In [6]:
# Creating a series from Lists
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [7]:
# Creating a series from List with index
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [8]:
# Creating a series from Dictionary
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [9]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [10]:
# Creating a series using NumPy functions
ser1 = pd.Series(np.linspace(3, 33, 3)) 
print(ser1) 

ser2 = pd.Series(np.linspace(1, 100, 10)) 
print("\n", ser2)

0     3.0
1    18.0
2    33.0
dtype: float64

 0      1.0
1     12.0
2     23.0
3     34.0
4     45.0
5     56.0
6     67.0
7     78.0
8     89.0
9    100.0
dtype: float64

## Creating a Pandas DataFrame

In [11]:
# Creating an empty dataframe
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [12]:
# Creating a dataframe using List
df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[3,9,5,21],[45,2,33,1],[78,5,0,2]])

print(df)

    0  1   2   3
0   1  2   3   4
1   5  6   7   8
2   3  9   5  21
3  45  2  33   1
4  78  5   0   2

In [13]:
# Creating DataFrame from dict
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [14]:
# Creating DataFrame from dict with index
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45