In [1]:
import pandas as pd

## Slicing DataFrame

In [2]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[3,9,5,21],[45,2,33,1],[78,5,0,2]])

print(df)

    0  1   2   3
0   1  2   3   4
1   5  6   7   8
2   3  9   5  21
3  45  2  33   1
4  78  5   0   2

In [3]:
print("Shape: ", df.shape)

print("\niloc[0,1]: ",df.iloc[0,1])

print("\niloc[0:2,0:2]:\n", df.iloc[0:2,0:2])

print("\niloc[0:2,1:3]:\n", df.iloc[0:2,1:3])

Shape:  (5, 4)

iloc[0,1]:  2

iloc[0:2,0:2]:
    0  1
0  1  2
1  5  6

iloc[0:2,1:3]:
    1  2
0  2  3
1  6  7

## DataFrame merging

In [4]:
df1 = pd.DataFrame([[3,6,6],[45,2,1],[9,7,0]], columns=['A','B','C'])

df1

    A  B  C
0   3  6  6
1  45  2  1
2   9  7  0

In [5]:
df2 = pd.DataFrame([[23,2,9],[5,6,13],[4,72,10]], columns=['X','Y','Z'])

df2

    X   Y   Z
0  23   2   9
1   5   6  13
2   4  72  10

In [6]:
df3 = pd.merge(df1, df2, left_on='B', right_on='Y')

df3

    A  B  C   X  Y   Z
0   3  6  6   5  6  13
1  45  2  1  23  2   9

## Viewing the Data

In [7]:
df = pd.read_csv('data.csv')

print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [8]:
print(df.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [9]:
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

## Info About the Data

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None